In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder

In [7]:
#Load data
raw_data=pd.read_csv('adult.csv',header=0)
print(raw_data.head())

   age workclass  fnlwgt     education  education.num marital.status  \
0   90         ?   77053       HS-grad              9        Widowed
1   82   Private  132870       HS-grad              9        Widowed
2   66         ?  186061  Some-college             10        Widowed
3   54   Private  140359       7th-8th              4       Divorced
4   41   Private  264663  Some-college             10      Separated

          occupation   relationship   race     sex  capital.gain  \
0                  ?  Not-in-family  White  Female             0
1    Exec-managerial  Not-in-family  White  Female             0
2                  ?      Unmarried  Black  Female             0
3  Machine-op-inspct      Unmarried  White  Female             0
4     Prof-specialty      Own-child  White  Female             0

   capital.loss  hours.per.week native.country income
0          4356              40  United-States  <=50K
1          4356              18  United-States  <=50K
2          4356              40  United-States  <=50K
3          3900              40  United-States  <=50K
4          3900              40  United-States  <=50K

In [3]:
#Creating a function that summarizes a single variable and displays a pie chart if it's categorical data and a violin plot if it's cnotinuous
def summarize(variable):
    print(raw_data[variable].describe())
    if raw_data[variable].dtype=='object':
        grouped=raw_data.groupby(variable).fnlwgt.sum()
        plt.axis('equal')
        plt.pie(raw_data.groupby(variable).fnlwgt.sum(),labels=grouped.index,radius=2,autopct='%0.1f%%',explode=[.06]*grouped.value_counts().sum(),shadow=True)
        plt.show()
    else:
        sns.violinplot(x=raw_data[variable],inner='quartile')
        plt.show()

In [34]:
#Creating a function that displays different types of plots depending on the data types of two variables

def correlation(variable1,variable2):
    if raw_data[variable1].dtype=='object' and raw_data[variable2].dtype=='object':
        grouped=raw_data.groupby(variable1,variable2).fnlwgt.sum()
        
#grouped=pd.DataFrame(raw_data.groupby(['education','sex']).fnlwgt.sum())
#print(grouped)

                         fnlwgt
education    sex
10th         Female    55263238
             Male     128381452
11th         Female    83724393
             Male     145316098
12th         Female    26339061
             Male      59870160
1st-4th      Female     9346742
             Male      30856162
5th-6th      Female    18706398
             Male      58698897
7th-8th      Female    28665353
             Male      92833792
9th          Female    30229145
             Male      73848179
Assoc-acdm   Female    75524565
             Male     130858943
Assoc-voc    Female    93241408
             Male     158194167
Bachelors    Female   294847544
             Male     712191880
Doctorate    Female    16422409
             Male      60684179
HS-grad      Female   635558915
             Male    1354787391
Masters      Female    94593728
             Male     215291893
Preschool    Female     3183366
             Male       8846992
Prof-school  Female    15731328
             Male      91210967
Some-college Female   519295925
             Male     856828722