In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import pylab

In [2]:
def read_data():
    df = pd.read_csv('adult.csv')
    df = df.rename(columns={'income':'income_over_50K'}).replace({'<=50K':0,'>50K':1})
    df['education1'] = df['education'].replace({'10th':10,'11th':11,'12th':12,'HS-grad':12,'7th-8th':8,'Bachelors':16,'Masters':18,'Doctorate':20,'9th':9,'5th-6th':6,'1st-4th':4,'Preschool':0,'Assoc-acdm':14,'Assoc-voc':14,'Prof-school':13,'Some-college':12.5})
    df['age']=df['age'].astype(str)
    df['capital.gain'].astype(str)
    df['capital.loss'].astype(str)
    return df

In [3]:
def get_income_percent(df):
    return (sum(df.income_over_50K)/len(df.income_over_50K))

In [4]:
def filter_dataframe(df,column_name,value):
    return df[df['{}'.format(column_name)]==value]

In [18]:
df = read_data()
get_income_percent(filter_dataframe(df,'education','HS-grad'))

0.15950861822683554

In [6]:
import io 
def get_correlation(category):
    df = read_data()
    unique_types = df['{}'.format(category)].unique()
    education_dict = {}
    for level in unique_types:
        education_dict.update({level:round(100*get_income_percent(filter_dataframe(df,'{}'.format(category),'{}'.format(level))),2)})
    return education_dict

In [7]:
get_correlation('sex')

{'Female': 10.95, 'Male': 30.57}

In [8]:
def get_education_correlation():
    df = read_data()
    unique_types = df.education.unique()
    education_dict = {}
    for level in unique_types:
        education_dict.update({level:round(100*get_income_percent(filter_dataframe(df,'education','{}'.format(level))),2)})
    return education_dict

In [9]:
def get_education_graph():
    test = pd.DataFrame(columns=['var'])
    df1 = pd.DataFrame([get_education_correlation().values()], columns=list(get_education_correlation().keys()))
    df2 = df1.T.rename(columns={0:'var'}).sort_values('var')
    names = df2.index
    counts = list(df2['var'])
    pylab.figure(1)
    x = range(16)
    pylab.xticks(x, names,rotation=70)
    pylab.plot(x,counts,"g")
    return pylab.show()

In [10]:
def get_hours_education_graph():
    test = read_data()
    return test[['hours.per.week','education']].boxplot(by='education',rot=70,figsize=(12,6))

In [11]:
#get_hours_education_graph()
def get_hours_education():
    da = read_data()
    da1 = da[['education','hours.per.week']].groupby('education').mean().reset_index()
    e = {}
    da1 = da1.rename(columns={'hours.per.week':'hoursperweek'})
    for i in da1.iterrows():
        e.update({i[1].education:i[1].hoursperweek})
    return e

In [12]:
def get_occupation_graph():
    test = read_data()
    return test[['hours.per.week','occupation']].boxplot(by='occupation',rot=70,figsize=(12,6))

In [13]:
#get_occupation_graph()

In [14]:
def occupation_hours():
    test = read_data()
    return test[['hours.per.week','occupation']].groupby('occupation').mean().reset_index().sort_values('hours.per.week')

In [15]:
occupation_hours()

           occupation  hours.per.week
0                   ?       31.906131
9     Priv-house-serv       32.885906
8       Other-service       34.701669
1        Adm-clerical       37.558355
6   Handlers-cleaners       37.947445
13       Tech-support       39.432112
2        Armed-Forces       40.666667
7   Machine-op-inspct       40.755744
12              Sales       40.781096
3        Craft-repair       42.304221
10     Prof-specialty       42.386715
11    Protective-serv       42.870570
14   Transport-moving       44.656230
4     Exec-managerial       44.987703
5     Farming-fishing       46.989940